.CategoriesList{
  color: black;
}

.CategoriesListHeader {
  color: black;
  font-weight: bold;
}

.CategoryHeader, .Subcategory{
  color: black;
  width: 100%;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CategoriesListArrow{
  width: 25px;
  height: 25px;
  padding-right: 10px;
  cursor: pointer;
}

.CategoryName{
  cursor: pointer;
}

.CategorySpacer{
  flex-grow: 1;
}

.AddCategory, .EditCategory, .EditSubcategory{
  float: right;
  font-size: small;
  color: black;
  cursor: pointer;
}

.SubcategoryList{
  background-color: white;
}

.portal {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #CCC;
  background-color: #f7f7f7
}

.AddCategoryForm {
  margin: 10px;

}

